<h1>
    あなたの一週間分の食事です
</h1>

<ul>
    <% @recipes.each_with_index do |recipe, i| %>
    <li>
        <div><%= @yobis[i] %>（<%= @recipe_group.start_date + i %>）</div>
        <%= link_to  recipe.title, recipe_path(recipe) %>
        （説明）<%= recipe.description %>

        <div>
            <%= check_box :recipes, :recipe_ids, { checked: @recipe_group.get_cook[i], title: "#{i}", id: "recipe_#{recipe.id}" } %>
            この料理をつくる？？
        </div>
        <div><%= image_tag recipe.image_url, style: "height: 20rem; width: 30rem;" %></div>
    </li>
    <% end %>
</ul>

<%= button_to "ガチャに戻る", '/', method: :get %>
<%= button_to "買い物リスト", '/ingredients', method: :get %>